@import "../../../Style/colors.scss";
@import "../../../Style/shortcuts.scss";

#header_container {
    background-color: rgb(255, 255, 255);
    border: 10px solid lighten($primaryColor, 10);
    margin: 2rem 10vw;
    padding: 2rem;
    border-radius: calc($borderRadius * 3);
    position: relative;
    min-height: 200px;

    .header_title {
        font-size: 2.5rem;
        font-weight: bold;
        color: $primaryColor;
    }

    .header_paragraph {
        color: $gray;
    }

    .header_img {
        width: 300px;
        position: absolute;
        top: 50%;
        right: -10%;

    }
}

.rdrMonthAndYearWrapper {
    background-color: red;
}