@import "../../../Style/colors.scss";
@import"../../../Style/shortcuts.scss";


.userReservations {

    overflow: hidden;

    .userReservations_Img {
        // background-color: wheat;
        position: relative;
        @include dFlex;
        flex-direction: column;


        h2 {
            background-color: $primaryColor;
            border: 3px solid $white;
            color: $white;
            border-radius: 3rem;
            padding: 5px 50px;
            font-weight: 800;

        }

        .cloud {

            &::after {
                content: url(../../../assets/cloud2.png);
                position: absolute;
                width: 50px !important;
                height: auto;
                top: 0;
                left: 0;
                z-index: 33;

                animation: headShake;
                animation-iteration-count: 10;

                // animation-iteration-count: infinite;
                // animation: name duration timing-function delay iteration-count direction fill-mode;
                animation-duration: 10s;
            }

            &::before {
                content: url(../../../assets/cloud.png);
                position: absolute;
                width: 50px !important;
                height: auto;
                top: 0;
                right: 20%;
                z-index: 33;

                animation: headShake;
                animation-iteration-count: 3;
                // animation: name duration timing-function delay iteration-count direction fill-mode;
                animation-duration: 8s;
            }



        }

        img {
            width: 80%;
            animation: slideInUp;
            // animation: name duration timing-function delay iteration-count direction fill-mode;
            animation-duration: 2s;
        }
    }

}

.userReservations_data {


    .data_adv {
        @include dFlex;
        flex-direction: column;
        background-color: $liteGray;
        border: 5px solid $white;
        height: 70vh;
        border-radius: 3rem;
        padding: 20px 5px;
    }
}

.data_card {
    .reservation-card {
        border: 10px solid darken($primaryColor, 5%);
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 3rem;
        // margin: 1rem;

        .cardImg {
            @include dFlex;

            img {
                border-radius: $borderRadius;
                overflow: hidden;
                width: 100%;
            }
        }

        .cardData {
            .cardData_name {
                font-weight: 700;
                padding: 2px 10px;
                margin: 20px 0 !important;
                border-radius: $borderRadius;
                background-color: $secoundryColor;

                color: $white;

                &:hover {
                    background-color: darken($secoundryColor, 10);

                }

            }

            .cardData_container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .cardInformation {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;

                    >P {
                        @include noSpacing;
                        font-size: 14px;
                    }

                    .confirmation,
                    .period,
                    .roomCount {
                        margin-top: 10px;

                        .title,
                        .data {
                            border-radius: $borderRadius;
                            padding: 3px 5px;

                        }

                        .title {
                            // border: 3px solid $primaryColor;
                            background-color: $liteGray;
                            margin-right: 10px;
                        }

                        .data {
                         
                        }
                    }
                }

                .confirmation {
                    .pending {
                        background-color: rgb(240, 254, 92);

                    }

                    .canceled {
                        background-color: rgb(254, 92, 92);
                    }

                    .confirmed {
                        background-color: rgb(118, 229, 123);

                    }

                }

                .cardDate {

                    display: flex;


                    .checkIn,
                    .checkOut {
                        font-size: 12px;
                        border: 2px solid $liteGray ;
                        // background-color: ;
                        padding: 5px;
                        margin: 5px;
                        border-radius: $borderRadius;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &:hover {
                            background-color: $liteGray;
                        }

                        .type {
                            // font-size: 1em;
                            font-weight: 600;
                            display: block;
                            text-align: center;
                        }

                        .day {
                            text-align: center;
                            font-weight: 400;
                            color: $primaryColor;
                            font-size: 2rem;
                        }
                    }

                    .checkIn {}

                    .checkOut {}
                }
            }

        }

    }

}




// .formCard {
//     position: relative;
//     left: 10%;
//     width: 80%;
//     height: fit-content;
//     padding: 5%;
//     border: 10px solid darken($primaryColor, 5%);
//     background-color: rgb(255, 255, 255);
//     border-radius: calc($borderRadius * 3);
//     overflow: hidden;
//     margin: 1rem;

//     .reservation-card {


//     }

// }