@import "../../Style/colors.scss";
@import "../../Style/shortcuts.scss";


*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}


li {
  list-style: none;
}



.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  // background: #51acf1;

  .nav__logo {
    img {
      height: 50px;
    }
  }

  .nav__item {
    .nav__link {
      color: white;
      transition: $noramlTransition;
      border-radius: $borderRadius;
      // border: 3px solid #51acf1;
      padding: 5px 10px;

      &:hover {
        background-color: white;
        color: #51acf1;
        // border: 3px solid white;
      }


    }

    ul {
      display: flex;

      .userInfo {
        border: none;
        background-color: $white;
        border-radius: $borderRadius;
        padding: 5px 10px;
        color: $primaryColorDark;
        position: relative;
        transition: $noramlTransition;
        &:hover > ul{
          display: flex;
        }

        ul {
          // @include noSpacing;
          border-radius: $borderRadius;
          width: 200px;
          padding: 1rem 0.5rem;
          background-color: rgb(255, 255, 255);
          position: absolute;

          z-index: 500;
          top: 100%;
          left: 0;
          display: none;
          transition: $noramlTransition;

          flex-direction: column;

          li {
            border-radius: $borderRadius;
            padding: 5px;
            margin-top: 1rem;
            display: flex;
            transition: $noramlTransition;
            &:hover {
              background-color: #ececec;
            }
            &:nth-child(3):hover{
              background-color: #f98d8d88 ;


            }


            .userInfo_link {
              color: black;
              

            }

            .userInfo_icon {
              position: relative;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: $primaryColorDark;
              text-align: center;

              margin-right: 10px;

              i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $white;
              }

            }

          }
        }
      }
    }
  }

}


.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav__toggler {
  display: none;
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 975px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }

  .nav__item {
    .nav__link {
      color: $secoundryColor;
      transition: $noramlTransition;
      border: 3px solid $secoundryColor !important;
      padding: 5px 10px;

      &:hover {
        background-color: white;
        color: $secoundryColor;
        border: 3px solid white;
      }

    }
  }

  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: $secoundryColor;
    z-index: 99999;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}

/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
.form-check{
  .toggleIcon{
    color: white;
    svg{
      width: 1.5rem;
    }
  }
}
.ntrue {
  background-color: darken($primaryColor,10);
}

 .nfalse {
  background-color: $secoundryColorDark ;
}