@import "../../../Style/shortcuts.scss";
@import "../../../Style/colors.scss";

.carousel {
    max-height: 70vh;
    overflow: hidden;
    margin: 1rem 10vw;
    border-radius: calc($borderRadius * 3);

    .carousel-inner {
        position: relative;
        // width: 100%;
        height: 100%;
        overflow: hidden;

        .carousel-item {
            position: relative;
            width: 100%;
            // height: 70vh !important;
            margin-right: -100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transition: transform .6s ease-in-out;

            img {
                width: 100%;
                background-size: cover;
            }

            .carousel-caption {
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                padding-top: 1.25rem;
                padding-bottom: 1.25rem;
                color: #fff;
                text-align: center;

                h3 {
                    font-weight: 800;
                    font-size: clamp(16px, 2vw, 2vw);
                    color: $primaryColor ;
                }

                p {
                    color: $secoundryColor;
                }
            }
        }

    }


}

.home {
    .home_FlightContainer {
        overflow: hidden;

        margin: 1rem 10vw;
        @include dFlex;
        flex-direction: column;

        .flightContainer_article {
            @include dFlex;
            flex-direction: column;

            p,
            h3,
            span {
                color: white;
            }

            // clamp(minimum, preferred, maximum);
            p {
                @include noSpacing;
                font-size: 1.4em;
            }

            h3 {
                border-radius: $borderRadius;

                padding: 5px 10px;
                background-color: darken($primaryColor , 10);
                font-size: clamp(16px, 2vw, 2vw);
                font-weight: 800;
            }

            span {
                background-color: $secoundryColor;
                padding: 5px 10px;
                border-radius: $borderRadius;
            }


        }

        .flightContainer_discover {
            width: 100%;
            @include dFlex;
            flex-direction: row;

            .discover_cards {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                #vcart {
                    width: 60px !important;
                    margin: 10px;

                }
            }

            .discover_img {
                @include dFlex;
                flex-direction: column;


                img {
                    width: 350px;
                    margin-bottom: 2rem;
                }
            }

        }
    }

    .home_hotelContainer {
        margin-top: 250px;
        position: relative;
        background-color: $secoundryColor;
        padding-bottom: 50px;

        #svg {
            position: absolute;
            z-index: -10;
            bottom: 90%;
          

        }

        .path-0 {
            position: absolute;
            bottom: 100%;
            animation: pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        @keyframes pathAnim-0 {
            0% {
                d: path("M 0,400 C 0,400 0,100 0,100 C 124.07142857142858,90.89285714285714 248.14285714285717,81.78571428571429 379,88 C 509.85714285714283,94.21428571428571 647.4999999999999,115.74999999999999 747,121 C 846.5000000000001,126.25000000000001 907.8571428571429,115.21428571428571 1017,109 C 1126.142857142857,102.78571428571429 1283.0714285714284,101.39285714285714 1440,100 C 1440,100 1440,400 1440,400 Z");
            }

            25% {
                d: path("M 0,400 C 0,400 0,100 0,100 C 93.28571428571428,90.28571428571428 186.57142857142856,80.57142857142857 321,85 C 455.42857142857144,89.42857142857143 630.9999999999999,108 757,117 C 883.0000000000001,126 959.4285714285716,125.42857142857142 1065,121 C 1170.5714285714284,116.57142857142858 1305.2857142857142,108.28571428571429 1440,100 C 1440,100 1440,400 1440,400 Z");
            }

            50% {
                d: path("M 0,400 C 0,400 0,100 0,100 C 126.82142857142858,111.89285714285714 253.64285714285717,123.78571428571429 359,123 C 464.35714285714283,122.21428571428571 548.25,108.75000000000001 655,94 C 761.75,79.24999999999999 891.3571428571429,63.21428571428571 1026,64 C 1160.642857142857,64.78571428571429 1300.3214285714284,82.39285714285714 1440,100 C 1440,100 1440,400 1440,400 Z");
            }

            75% {
                d: path("M 0,400 C 0,400 0,100 0,100 C 126.92857142857142,115.85714285714286 253.85714285714283,131.71428571428572 381,120 C 508.14285714285717,108.28571428571429 635.5000000000001,69 746,64 C 856.4999999999999,59.00000000000001 950.1428571428571,88.28571428571429 1063,100 C 1175.857142857143,111.71428571428571 1307.9285714285716,105.85714285714286 1440,100 C 1440,100 1440,400 1440,400 Z");
            }

            100% {
                d: path("M 0,400 C 0,400 0,100 0,100 C 124.07142857142858,90.89285714285714 248.14285714285717,81.78571428571429 379,88 C 509.85714285714283,94.21428571428571 647.4999999999999,115.74999999999999 747,121 C 846.5000000000001,126.25000000000001 907.8571428571429,115.21428571428571 1017,109 C 1126.142857142857,102.78571428571429 1283.0714285714284,101.39285714285714 1440,100 C 1440,100 1440,400 1440,400 Z");
            }
        }

        .path-1 {
            position: absolute;
            bottom: 100%;
            animation: pathAnim-1 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        @keyframes pathAnim-1 {
            0% {
                d: path("M 0,400 C 0,400 0,200 0,200 C 104.75,187.71428571428572 209.5,175.42857142857142 324,181 C 438.5,186.57142857142858 562.7500000000001,209.99999999999994 675,224 C 787.2499999999999,238.00000000000006 887.5,242.5714285714286 1013,237 C 1138.5,231.4285714285714 1289.25,215.7142857142857 1440,200 C 1440,200 1440,400 1440,400 Z");
            }

            25% {
                d: path("M 0,400 C 0,400 0,200 0,200 C 145.96428571428572,217.32142857142856 291.92857142857144,234.64285714285714 395,234 C 498.07142857142856,233.35714285714286 558.25,214.75 667,198 C 775.75,181.25 933.0714285714287,166.35714285714286 1070,167 C 1206.9285714285713,167.64285714285714 1323.4642857142858,183.82142857142856 1440,200 C 1440,200 1440,400 1440,400 Z");
            }

            50% {
                d: path("M 0,400 C 0,400 0,200 0,200 C 109,214.14285714285714 218,228.28571428571428 326,221 C 434,213.71428571428572 541,184.99999999999997 680,188 C 819,191.00000000000003 990,225.71428571428572 1122,233 C 1254,240.28571428571428 1347,220.14285714285714 1440,200 C 1440,200 1440,400 1440,400 Z");
            }

            75% {
                d: path("M 0,400 C 0,400 0,200 0,200 C 90.75,214.60714285714286 181.5,229.21428571428572 299,235 C 416.5,240.78571428571428 560.7499999999999,237.74999999999997 700,223 C 839.2500000000001,208.25000000000003 973.5,181.7857142857143 1096,176 C 1218.5,170.2142857142857 1329.25,185.10714285714283 1440,200 C 1440,200 1440,400 1440,400 Z");
            }

            100% {
                d: path("M 0,400 C 0,400 0,200 0,200 C 104.75,187.71428571428572 209.5,175.42857142857142 324,181 C 438.5,186.57142857142858 562.7500000000001,209.99999999999994 675,224 C 787.2499999999999,238.00000000000006 887.5,242.5714285714286 1013,237 C 1138.5,231.4285714285714 1289.25,215.7142857142857 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
        }

        .path-2 {
            animation: pathAnim-2 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        @keyframes pathAnim-2 {
            0% {
                d: path("M 0,400 C 0,400 0,300 0,300 C 91,308.6071428571429 182,317.2142857142857 323,315 C 464,312.7857142857143 655,299.75 786,292 C 917,284.25 988,281.7857142857143 1087,284 C 1186,286.2142857142857 1313,293.1071428571429 1440,300 C 1440,300 1440,400 1440,400 Z");
            }

            25% {
                d: path("M 0,400 C 0,400 0,300 0,300 C 92.75,312.7142857142857 185.5,325.42857142857144 301,329 C 416.5,332.57142857142856 554.7500000000001,327.00000000000006 685,316 C 815.2499999999999,304.99999999999994 937.5,288.57142857142856 1062,285 C 1186.5,281.42857142857144 1313.25,290.7142857142857 1440,300 C 1440,300 1440,400 1440,400 Z");
            }

            50% {
                d: path("M 0,400 C 0,400 0,300 0,300 C 99.78571428571428,283.32142857142856 199.57142857142856,266.64285714285717 333,276 C 466.42857142857144,285.35714285714283 633.5000000000001,320.75 769,318 C 904.4999999999999,315.25 1008.4285714285713,274.3571428571429 1115,265 C 1221.5714285714287,255.64285714285714 1330.7857142857142,277.82142857142856 1440,300 C 1440,300 1440,400 1440,400 Z");
            }

            75% {
                d: path("M 0,400 C 0,400 0,300 0,300 C 113.46428571428572,295.9642857142857 226.92857142857144,291.92857142857144 365,284 C 503.07142857142856,276.07142857142856 665.7500000000001,264.25 778,270 C 890.2499999999999,275.75 952.0714285714284,299.07142857142856 1054,307 C 1155.9285714285716,314.92857142857144 1297.9642857142858,307.4642857142857 1440,300 C 1440,300 1440,400 1440,400 Z");
            }

            100% {
                d: path("M 0,400 C 0,400 0,300 0,300 C 91,308.6071428571429 182,317.2142857142857 323,315 C 464,312.7857142857143 655,299.75 786,292 C 917,284.25 988,281.7857142857143 1087,284 C 1186,286.2142857142857 1313,293.1071428571429 1440,300 C 1440,300 1440,400 1440,400 Z");
            }
        }

        .row {
            display: flex;
            justify-content: space-between;

            .hotel-img {
                img {
                    width: 400px;
                }
            }

            .hotel-article {

                article {
                    @include dFlex;
                    flex-direction: column;

                    p {
                        @include noSpacing;
                        font-size: 1.2em;
                        color: white;
                    }

                    h3 {
                        border-radius: $borderRadius;
                        padding: 5px 10px;
                        color: $secoundryColor;
                        background-color: white;
                        font-size: clamp(16px, 2vw, 2vw);
                        font-weight: 800;
                    }

                    img {
                        width: 70%;
                    }

                }
            }

        }

    }

    .home-tourContaier {
        background-color: white;

        .row {
            @include dFlex;

            .tour-img {
                @include dFlex;
                flex-wrap: wrap;

                #vcart {
                    width: 60px !important;
                    margin: 10px;
                }
            }

            .tour-article {
                @include dFlex;
                flex-direction: column;

                img {
                    width: 500px;
                }

                h3 {
                    @include noSpacing;
                    border-radius: $borderRadius;
                    padding: 5px 10px;
                    color: $secoundryColor;
                    background-color: white;
                    font-size: clamp(16px, 2vw, 2vw);
                    font-weight: 800;
                }
            }
        }

    }

}