@import "../../../Style/shortcuts.scss";
@import "../../../Style/colors.scss";




.service_container {
    background-color: white;
    border: 10px solid lighten($primaryColor, 10);

    margin: 6rem 10vw;
    margin-bottom: 0 !important;

    border-radius: calc($borderRadius *3);
    position: relative;
    transition:$noramlTransition;


    .services {
        display: flex;
        justify-content: space-around;
        margin: 0 2rem;


        .serviceItem {

            background-color: $liteGray;
            border: 5px solid white;
            color: $gray;

            display: flex;
            align-items: center;

            min-width: 100px;
            max-width: 150px;
            padding: 0.5rem 1rem;

            border-radius: calc($borderRadius *3);
            transform: translate(0, -40%);


            .icon {
                @include dFlex;
                border: 3px solid white;
                background-color: darken($secoundryColor, $amount: 10);
                border-radius: 50%;
                min-width: 40px !important;
                height: 40px;
                margin-right: 1rem;

                i {
                    color: white;
                }

                span {
                    color: $primaryColor
                }

            }
        }


        .active .serviceItem {
            background-color: $secoundryColor;
            text-align: center;
            color: white;

            .icon {
                @include dFlex;
                border: 3px solid white;

                background-color: darken($secoundryColor, $amount: 10);
                border-radius: 50%;

                i {
                    color: white;
                }

            }

        }

        .sfalse {
            background-color: $secoundryColorDark ;
            color: white !important;
            border: 5px solid lighten($secoundryColorDark, 10);

        }

        .active .sfalse {
            background-color: lighten($secoundryColorDark, 30);
            text-align: center;

            .icon {
                @include dFlex;
                border: 3px solid white;
                background-color: lighten($secoundryColorDark, 30);
                border-radius: 50%;

                i {
                    color: white;
                }

            }

        }

        @media only screen and (max-width: 800px) {
            *span {
                display: none;
            }
        }

        // @media only screen and (max-width: 600px) {
        //     *span {
        //       display: none;
        //     }
        //   }
    }




}
.sfalse {
    background-color: $secoundryColorDark ;

    border: 10px solid lighten($secoundryColorDark, 10) ; 
}